doctype html 
html 
    head 
        style   
            include ../static/style.css

    body 
        nav#navbar.top
            ul   
                li #[a(href = "/") Home]
                li #[a(href = "/") Trending] 
                li #[a(href = "/") Explore]
                li #[a(href = "/") Contact Us]
               
        section#intro 
            p#wel Welcome Dance Mania By Mohit
            p#learn Learn From Best Dancers around the world

        section#boxes
                h2#heading Our Sessions 
                div#box1
                    p Demo
                div#box2
                    p live 
                div#box3  
                    p Meet Ups

        section#spon 
            h2 Our Sponsors
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/2048px-HP_logo_2012.svg.png", alt="sponsor", class = "img1")   
            img(src="https://junior.inctf.in/_next/static/images/cred-d9abb0661ece82d8fb637eb551ca2de7.png", alt="sponsor", class = "img2") 
            img(src="https://www.freepnglogos.com/uploads/apple-logo-png/apple-logo-png-dallas-shootings-don-add-are-speech-zones-used-4.png", alt="sponsor", class = "img3") 
            img(src="https://www.carlogos.org/logo/Rolls-Royce-logo-2048x2048.png", alt="sponsor", class = "img4") 
        
       
        
        footer#foot 
           
            p Copyright Reserved    
        script 
            include ../static/index.js       
