extends base.pug


    
block script  
         include ../static/index.js    
block style
         style  
            include ../static/style.css 
            include ../static/sent.css
block  content              
        h1 SENT
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus asperiores, placeat quia consequuntur maxime dicta aspernatur eligendi non consequatur ex cum aut est natus facilis iste animi, autem pariatur, eum similique. Sapiente fugiat maxime soluta.